body {
    background: url('assets/download.jpeg')
    no-repeat center fixed;
    background-size: cover;
} 
h1 {color: azure;
    position: relative;
    text-shadow: 2px 2px 9px black;
    top: 170px;
    font-family: "Nunito", "helvetica", "arial";
    font-size: 50px;
    font-weight: bold;
}
h2 {color: azure;
    position: relative;
    top: 200px;
    font-family: "Nunito", "Lucida Console";
    font-size: 25px;
}
mark {
  background-color: yellow;
  color: black;
}
transbox h1 {
  width: 300px;
  height: 100px;
}
nav { 
    position: relative;
    top: 50px;
}
img {
    margin-left: 10px;
    margin-right: 10px;
}
img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}